* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #1f2937;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: thin solid black; */
  width: 80%;
  margin: auto;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}
header li {
  list-style-type: none;
}
header ul {
  display: flex;
  gap: 30px;
}
.headerText {
  font-size: 1.2em;
}
.headerLinks {
  font-size: 0.8em;
}
.heroSect {
  padding-top: 70px;
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
  padding-bottom: 70px;
}
.heroSectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin: auto;
}
.heroSectHeading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.heroSectSubtext {
  font-size: 18px;
  color: #e5e7eb;
}
.rightside {
  /* border: thin solid black; */
  width: 400px;
  height: 200px;
  color: #e5e7eb;
  background-color: #6d747d;
}
.rightsideText {
  text-align: center;
  margin-top: 100px;
}
.leftSide button {
  padding: 5px;
  border-radius: 8px;
  border: 0;
  background-color: #3b82f6;
  color: #f9faf8;
  width: 90px;
  margin-top: 10px;
}
.randomInfo {
    font-family: "Roboto", sans-serif;
    padding: 40px;
}
.infoHeading{
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.5em;
}
.infoBox{
    border: 2px solid blue;
    border-radius: 9px;
    width: 120px;
    height: 120px;
    padding-left: 30px;
}
.infoText{
    text-wrap: wrap;
}
.boxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
    width: 40%;
    margin: auto;
    font-size: 0.8em; 
    text-wrap: wrap;
}
.textContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
    margin: auto;
    font-size: 0.7em; 
    /* text-wrap:inherit ;   */
}