*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #1F2937;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: thin solid black; */
    width: 80%;
    margin: auto;
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}
header li{
    list-style-type: none;
}
header ul{
    display: flex;
    gap: 30px;
}
.headerText{
    font-size: 1.2em;
}
.headerLinks{
    font-size: 0.8em;
}
.heroSect{
    padding-top: 70px;
    background-color: #1F2937;
     font-family: "Roboto", sans-serif;
     padding-bottom: 70px;
}
.heroSectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin: auto;
}
.heroSectHeading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.heroSectSubtext{
    font-size: 18px;
    color: #E5E7EB;
}
.rightside{
    /* border: thin solid black; */
    width: 400px;
    height: 200px;
    color: #E5E7EB;
    background-color: #6D747D;
}
.rightsideText{
    text-align: center;
    margin-top: 100px;
}
.leftSide button{
    padding: 5px;
    border-radius: 8px;
    border: 0;
    background-color: #3B82F6;
    color: #f9faf8;
    width: 90px;
    margin-top: 10px;
}